#textStyles {
  font-size: 37px;
  font-weight: bold;
  font-family: Comic Sans MS;
  text-align: left;
}

#textStyles2 {
	font-size: 26px;
  font-family: Monotype Corsiva;
	text-align: justify;
}

#textStyles3 {
	font-size: 24px;
}